<!DOCTYPE html>

<html lang="en">

	<head>

		<title>Bard</title>

		<meta charset="UTF-8">

		<meta name="description" content="Bard: A website where users can share their stories and view other users' shared content and experiences.">

		<link rel="stylesheet" type="text/css" href="styleTemplates/home.css">

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	 	<script type="text/javascript" src="styleTemplates/home.js"></script>

	</head>

	<body>

		<div id="container">

			<div id="header">

				<h1>BARD</h1>

			</div>

			<div id="body">

				<a href="/register">Create User</a>

				<a href="/login">Login</a>

			</div>

		</div>

	</body>

</html>