<!DOCTYPE html>
<html>
	<head>
		<title>Calculator</title>
	</head>
	<body>

		<h1>GET SUM MY NINJA</h1>

		<form action="/process" method="post">

			{%csrf_token%}

			<input type="text" name="num1" placeholder="First number">

			<label>+</label>
			<input type="text" name="num2" placeholder="Second number">

			<label>=</label>
			<input type="submit" value = "Get Sum">

		</form>

		{%if messages%}

			{%for message in messages%}

				<p style=color:red>{{message}}</p>

			{%endfor%}

		{%endif%}

	</body>
</html>